
a {
	color: #3299BB;
	text-decoration: none;
}
body {
	background: #BCBCBC;
	color: #333; 
	margin: 20px 0;
	text-align: center;
	font: normal 0.9em sans-serif,Arial;
}

/* top thingy */
.top {
	background: #FFF;
	text-align: center;
}

.top h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 2.5em;
	top: 10px;
	line-height: 0.5px;
}

.top h2 {
	font-family: 'Fugaz One', cursive;
	font-size: 2em;
	color:#FF9900;
	top: 5px;
	line-height: 0.5px;
}

/* header */
.header {
	background: #FFF;
	border-bottom: 1px solid #E5E5E5;
	font: bold 2.6em Arial;
	line-height: 3em;
}

/* main */
.main {
	background: #FFF; 
	border: 3px double #EEE; 
	border-color: #E4E4E4 #CFCFCF #CCC #CFCFCF; 
	margin: 20px auto 4px auto; 
	text-align: left;
	width: 620px; 
}
.container {
	margin: 10px;
}

/* menu */
.menu a {
	background: #EEE;
	border-right: 1px solid #CECECE;
	border-top: 1px solid #E5E5E5;
	color: #424242;
	float: left;
	padding-top: 4px;
	width: 149px; height: 36px;
}
.menu a span {
	padding-left: 6px;
}
.menu a:hover {
	background: #EEE url(img/bgmenu.gif) repeat-x;
	color: #555;
}
.menu a#last {
	width: 150px;
	border-right: none;
}

/* content */
.content {
	background: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	clear: both;
}
.content h1 {
	margin: 0;
	font: bold 1.1em sans-serif,Arial;
	color: #3299BB;
}
.content p {
	margin: 3px 0 6px; color: #424242;
}
.item {
	background: #FCFCFC url(img/bgitem.gif) repeat-x;
	padding: 10px;
	text-align:justify;
}

/* footer */
.footer {
	padding: 5px;
	background: #F5F5F5;
	color: #666;
}
.footer .left, .footer .right {padding: 0 12px;}
.footer .right, .footer .right a {color: #AAA;}
.footer .right a:hover {color: #444;}

/* floats */
.left {float: left;}
.right {float: right;}
.clearer {clear: both;}